venv*/
__pycache__/
*.properties
*.pyc
.vscode/
pretrained_models/
stems/
!config/
models/
installs/
support/
tests/
*.wav
*.flac
*.mp3
*.ape
*.dsd
*.dts
*.aac
*.ac3
*.dsf
*.dll
*.db
!BASS.dll
!sqlite3_x64.dll
!models.db
!song.*